@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

/* Layouts */
body { @apply bg-neutral-900 text-white; }
.card { @apply bg-black text-white; }
.nav { @apply txt-bold bg-rose-500; }
.header { @apply bg-rose-500 padding-lg; }
@utility padding-lg { @apply px-6 sm:px-12 md:px-24 lg:px-48 py-3 sm:py-6 md:py-12 lg:py-24 }
@utility padding { @apply px-2 sm:px-4 md:px-8 lg:px-16 py-1 sm:py-2 md:py-4 lg:py-8 }
@utility padding-sm { @apply px-2 sm:px-3 md:px-4 lg:px-6 py-1 sm:py-2 md:py-3 lg:py-4 }

/* Grid */
@utility gap-std { @apply gap-4 }
.gap-sm { @apply gap-2 }
.gap-lg { @apply gap-12 }
.grid-1 { @apply grid }
.grid-2 { @apply grid grid-cols-2 }
.span-2 { @apply col-span-2 }
.grid-5 { @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 }
.span-5 { @apply col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 }

/* Text Sizes */
.txt-6xl { @apply txt text-6xl sm:text-7xl md:text-8xl lg:text-9xl; }
.txt-4xl { @apply txt text-4xl sm:text-5xl md:text-6xl lg:text-7xl; }
.txt-2xl { @apply txt text-2xl sm:text-3xl md:text-4xl lg:text-5xl; }
.txt-xl { @apply txt text-xl sm:text-2xl md:text-3xl lg:text-4xl; }
.txt-base { @apply txt text-base sm:text-lg md:text-xl lg:text-2xl; }
.txt-sm { @apply txt text-sm sm:text-base md:text-lg lg:text-xl; }
.txt-xs { @apply txt text-xs sm:text-sm md:text-base lg:text-lg; }
@utility txt-sm { @apply txt text-sm sm:text-base md:text-lg lg:text-xl; }
@utility txt { @apply text-white; font-family: "Gilroy-Light", sans-serif; }
@utility txt-bold { @apply txt; font-family: "Gilroy-ExtraBold", sans-serif !important; }

/* Input Box */
.input { @apply rounded-md border bg-black text-white appearance-none px-4 py-2 }

/* Alerts */
.alert-red { @apply border-2 border-red-500 bg-red-800 padding-sm; }
.alert-text-red { @apply text-red-100 text-center txt-sm; }
.alert-green { @apply border-2 border-green-500 bg-green-800 padding-sm; }
.alert-text-green { @apply text-green-100 text-center txt-sm; }
.alert-blue { @apply border-2 border-blue-500 bg-blue-800 padding-sm; }
.alert-text-blue { @apply text-blue-100 text-center txt-sm; }

/* Buttons */
@utility btn-base { @apply transition duration-200 cursor-pointer text-white; }
.btn-sm { @apply rounded px-4 py-2 btn-base; }
.btn { @apply rounded-lg px-8 py-6 btn-base; }
.btn-card-content { @apply p-4; }
.btn-card { @apply rounded-lg overflow-hidden btn-base; }
.btn-lg { @apply rounded-xl px-16 py-12 btn-base; }
.btn-neutral { @apply bg-neutral-800 hover:bg-neutral-700 hover:shadow-lg; }
.btn-neutral-disabled { @apply bg-neutral-800 cursor-not-allowed; }
.btn-neutral-active { @apply bg-neutral-800 shadow-lg; }
.btn-green { @apply bg-green-600 hover:bg-green-500 hover:shadow-lg; }
.btn-red { @apply bg-red-600 hover:bg-red-500 hover:shadow-lg; }
.btn-yellow { @apply bg-yellow-600 hover:bg-yellow-500 hover:shadow-lg; }
.btn-rose { @apply bg-rose-600 hover:bg-rose-500 hover:shadow-lg; }

.link-inline { @apply hover:text-rose-500 text-rose-200 underline transition duration-200; }
.link-header { @apply text-rose-200 underline transition duration-200; }

.menu-overflow { @apply flex-row gap-std overflow-x-scroll; }

/* Fonts */
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('/fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Extrabold.woff') format('woff'),
    url('/fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('/fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Light.woff') format('woff'),
    url('/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}